@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,700');

* {
  margin: 0;
}

a {
  text-decoration: none;
  transition: 0.5s;
}

.black-link {
  color: #1D2123;
}

.black-link:hover {
  color: #515151;
}

.white-link {
  color: white;
}

.white-link:hover {
  color: #D8D8D8;
}

#nav {
  position: fixed;
  width: 100vw;
  height: 40px;
  background-color: #212121;
  color: white;
}

#nav-logo {
  width: 30px;
  padding: 5px;
  float: left;
}

#nav-links {
  float: right;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  padding-top: 7px;
  padding-right: 20px;
  font-weight: 300;
  font-size: 20px;
  transition: 0.5s;
}

#nav-links:hover {
  color: #D8D8D8;
}

#splash {
  background-color: #212121;
  height: 1080px;
}

#splash-img {
  padding-top: 30vh;
  width: 50%;
}

.white-section {
  background-color: white;
  height: auto;
  text-decoration: none;
}

.black-section {
  background-color: #212121;
  height: auto;
  text-decoration: none;
}

.black-header {
  color: #212121;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-decoration: none;
}

.black-paragraph {
  color: #212121;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-decoration: none;
}

.white-header {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-decoration: none;
}

.white-paragraph {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-decoration: none;
}

#content {
  width: 80%;
  margin: 0 auto;
  height: auto;
  padding: 10vh;
  text-decoration: none;
}

.subheader {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 5vh;
  color: white;
}

#projects-table {
  margin: 0px auto;
  text-align: center;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 3vh;
}

#footer {
  background-color: #212121;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  font-size: 2vh;
  text-decoration: none;
}

#footer-icon {
  width: 2vh;
  padding-top: 5px;
  padding-left: 5px;
}

table {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 0px;
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 5px;
  width: 33%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

table td:nth-child(even) {
    background-color: #353535;
    border: 0px;
}
table td:nth-child(odd) {
   background-color:#282828;
   border: 0px;
}